/*!* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.*/

.fa-15x {
	font-size: 15em
}

.uf {
	border: 1px solid;
	border-radius: 50%;
	padding: 37px;
	width: 120px
}

.toster {
	color: #4f5a6e;
	text-shadow: 1px 1px 8px
}

.rocket {
	height: 300px;
	margin-top: 150px;
	background: url(../img/autumn_sale_eng_v4.png) no-repeat left top;
	background-size: contain
}

.frontstat {
	height: 60px;
	background-color: #eef1f4;
	background-image: url(../img/bg-noise.png)
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: transparent;
	border-color: transparent
}

body {
	width: 100%;
	height: 100%;
	font-family: roboto, Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #fff
}

html {
	width: 100%;
	height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	font-family: roboto, Helvetica, Arial, sans-serif
}

#static h1,
#static h2,
#static h3,
#static h4 {
	color: #0b38e8;
	text-transform: uppercase
}

#static h1 {
	text-align: center
}

.fa.megafa {
	font-size: 140px
}

.links a {
	color: #0b38e8
}

.links {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: #0b38e8
}

.how-it-works-items .image img,
.team .image img {
	width: 150px
}

.how-it-works-items h4 {
	margin-bottom: 15px!important
}

.how-it-works-items .item,
.team .member {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px
}

.how-it-works-items .desc,
.team .desc {
	padding-top: 30px;
	font-size: 17px
}

.start {
	text-align: center;
	margin: 40px 0
}

.start .btn-green {
	padding: 10px 70px
}

.circle {
	margin-bottom: 70px;
	margin-top: 40px;
	text-align: center
}

.circle img {
	width: 60px;
	border-radius: 50%
}

.team .member {
	margin-bottom: 40px
}

.team h3 {
	padding-bottom: 7px;
	margin: 0
}

.team h4 {
	color: #999!important;
	line-height: 1;
	font-size: 15px
}

#static .container {
	padding-top: 60px
}

.navbar-toggle {
	color: #fff;
	font-size: 17px;
	text-shadow: 1px 1px 5px #000;
	margin-top: 13px
}

.navbar-inverse .navbar-toggle {
	color: #363636;
	text-shadow: none!important;
	border: medium
}

.navbar-inverse .navbar-toggle:hover {
	background: 0 0;
	color: #0b38e8
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #fff;
	color: #363636
}

p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5
}

label {
	font-family: Helvetica, Arial, sans-serif
}

.red {
	color: tomato
}

.green {
	color: #1ab394
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background-color: rgba(0, 0, 0, .5);
	color: #262626;
	text-decoration: none
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
	text-decoration: none;
	color: #fff
}

.nav-tabs>li>a:hover {
	color: #75bef6!important
}

.nav-tabs>li>a:focus {
	color: #000
}

.nav li {
	font-family: roboto, arial, helvetica;
	font-size: 13px;
	text-transform: uppercase
}

#side-menu li {
	border-top: 1px solid rgba(255, 255, 255, .1)
}

a {
	color: #219ab3;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out
}

a:hover,
a:focus {
	text-decoration: none;
	color: #11505d
}

.light {
	font-weight: 400
}

.navbar-custom {
	margin-bottom: 0;
	font-family: roboto, Helvetica, Arial, sans-serif;
	background: none repeat scroll 0 0 rgba(0, 0, 0, .6)
}

.navbar-custom.nav-dropdown {
	background: rgba(0, 0, 0, .3);
	transition: all .3s ease-in-out 0s
}

.navbar-custom .navbar-nav {
	padding-top: 10px!important
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #fff;
	color: #000
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	background-color: transparent;
	color: #363636
}

.navbar-inverse {
	background: #fff none repeat scroll 0 0!important;
	border: 1px solid #eee;
	transition: background .3s ease-in-out 0s
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: transparent
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #eee
}

.navbar-inverse a {
	color: #363636
}

.navbar-inverse ul.dropdown-menu a {
	color: #363636
}

.navbar-inverse ul.dropdown-menu {
	background-color: #fff
}

.navbar-inverse .navbar-brand {
	background: url(../img/logosmblack.png) no-repeat scroll 0 center transparent;
	font-weight: 700;
	text-indent: -9999px;
	width: 201px;
	height: 67px
}

.navbar-custom .navbar-brand {
	background: url(../img/logosm.png) no-repeat scroll 0 center transparent;
	font-weight: 700;
	text-indent: -9999px;
	width: 201px;
	height: 67px
}

.navbar-custom .navbar-brand:focus {
	outline: 0
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0
}

.navbar-custom a {
	color: #fff
}

.navbar-inverse .navbar-nav>li>a {
	color: #363636
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
	outline: 0;
	background-color: transparent;
	color: #fff
}

.intro {
	margin-top: -90px
}

.intro .headerbg {
	padding-top: 110px
}

.intro .intro-body {
	padding-top: 128px
}

.intro .intro-body .brand-heading {
	font-size: 40px
}

.intro .intro-body .intro-text {
	font-size: 18px
}

.btn {
	font-family: roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.btn-default {
	border: 1px solid #219ab3;
	color: #219ab3;
	background-color: transparent
}

.btn-default:hover,
.btn-default:focus {
	border: 1px solid #219ab3;
	outline: 0;
	color: #000;
	background-color: #219ab3
}

.btn-polybius {
	color: #fff;
	border-color: #fff;
	margin-top: 200px;
	padding: 10px 30px;
	font-size: 20px
}

.btn-polybius:hover {
	color: #131553;
	background: #fff;
	border-color: #fff
}

ul.banner-social-buttons {
	margin-top: 0
}

::-moz-selection {
	background: none repeat scroll 0 0 rgba(0, 0, 0, .7);
	text-shadow: none;
	color: #fff
}

::selection {
	background: none repeat scroll 0 0 rgba(0, 0, 0, .7);
	text-shadow: none;
	color: #fff
}

img::selection {
	background: 0 0
}

img::-moz-selection {
	background: 0 0
}

.headerbg {
	background: #031076 url(../img/plain_bg.jpg) no-repeat scroll 50% 50%;
	min-height: 458px;
	padding-top: 20px;
	background-size: cover
}

.headerbg.rubg {}

.clouds {
	background: transparent url(../img/cloud_2.png) repeat-x scroll center top;
	height: 120px;
	margin-top: -85px
}

.fronthead {
	color: #fff;
	font-family: roboto, arial, helvetica;
	font-size: 65px;
	text-align: center;
	text-shadow: 1px 4px 2px #00003e;
	text-transform: uppercase;
	font-weight: 700
}

.center {
	text-align: center
}

.features h3 {
	font-family: roboto, arial, helvetica;
	font-size: 1.3em;
	margin-bottom: 15px;
	text-transform: uppercase
}

.features p {
	color: #363636;
	font-size: 16px;
	padding-top: 10px
}

.features .row {
	margin-bottom: 30px
}

.features p.ps {
	padding-bottom: 60px
}

.features {
	padding-top: 60px
}

.feature {
	min-height: 300px
}

.features h2 {
	font-family: roboto, arial, helvetica;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 60px
}

.newuser h2 {
	font-family: roboto, arial, helvetica;
	padding-top: 80px;
	text-transform: uppercase
}

.btn-xl {
	padding: 20px 40px
}

.btn-xxl {
	padding: 25px 60px;
	font-size: 25px;
	text-shadow: -1px 1px 2px #444
}

.newuser {
	background-size: cover;
	background: #031076 url(../img/newrocket.jpg) no-repeat scroll 50% 20%;
	color: #fff;
	min-height: 300px
}

.plans {
	background: #001b1b url(http://telekotp.beget.tech/wp-content/themes/maining/img/plansbg.png) no-repeat center;
	background-size: cover;
	padding: 70px 0 50px
}

.plans h2 {
	font-family: roboto, arial, helvetica;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 40px
}

.plans .ps {
	font-size: 16px;
	padding-top: 20px;
	color: #fff
}

.partners img {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px
}

.partners {
	padding-top: 30px
}

.pricing-table {
	background: #001b1b;
	box-shadow: 0px 1px 30px rgb(0, 0, 0);
	border: 0;
	margin: 0 0 1.25em;
	padding: 0;
	border-radius: 2px;
	border: 1px solid transparent;
}

.pricing-table:hover {
	border: 1px solid #00fdfd;
}

.pricing-table s {
	font-size: 21px;
	color: #36befd
}

.pricing-table-new {
	background: #050056 url(../img/3panels_bg_blue.png) no-repeat scroll center top
}

.pricing-table * {
	line-height: 1;
	list-style: outside none none
}

.pricing-table .title {
	border-bottom: 1px solid #36bdfc;
	color: #fff;
	font-family: roboto, arial, helvetica;
	font-size: 20px;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
	text-transform: uppercase
}

.pricing-table .price {
	color: #eaeaea;
	font-family: roboto, arial, helvetica;
	font-size: 15px;
	font-weight: 900;
	padding: 12px 0 18px;
	text-align: center
}

.pricing-table .price span {
	border-top: 1px solid #36bdfc;
	color: #36bdfc;
	display: block;
	font-size: 53px;
	font-weight: 900;
	padding: 40px 0 10px;
	text-shadow: -1px -1px 1px #1a0361
}

.pricing-table .description {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	padding: 22px 0;
	text-align: center;
	text-transform: uppercase
}

.pricing-table .bullet-item {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: .9375em;
	text-align: center
}

.pricing-table .bullet-item.red {
	color: tomato
}

.pricing-table .cta-button {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 8px 0;
	text-align: center
}

.pricing-table .cta-button p {
	padding: 14px 0 8px
}

.pricing-table .cta-button span a {
	background: none repeat scroll 0 0 #4aa3fd;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	padding: 9px 27px
}

.pricing-table .cta-button span a:hover {
	background: none repeat scroll 0 0 #2e0394;
	text-decoration: none
}

.lovers {
	text-align: center;
	padding: 50px 0
}

.monitoring {
	background: rgba(0, 0, 0, .45) url(../img/newrocket.jpg) no-repeat scroll top center;
	overflow: hidden;
	padding: 50px 0 0;
	background-size: cover
}

.monitoring h2 {
	color: #fff;
	font-family: roboto, arial, helvetica;
	text-transform: uppercase
}

.monitoring .center p {
	color: #fff
}

.monitoring img {
	max-width: 100%
}

.btn-green {
	background: #17c425 none repeat scroll 0 0!important;
	color: #fff;
	text-transform: uppercase
}

.btn-green a {
	color: #fff
}

.btn-green:hover {
	box-shadow: 1px 4px 5px rgba(0, 0, 0, .3);
	color: #fff;
	background: #25da33 none repeat scroll 0 0!important
}

.btn-custom {
	border: medium;
	color: #fff;
	background: none repeat scroll 0 0 #4aa3fd
}

.btn-custom:active {
	border: 1px solid;
	color: rgba(255, 255, 255, .8);
	background: none repeat scroll 0 0 transparent
}

.btn-custom:hover {
	background: #2e0394;
	color: rgba(255, 255, 255, .8)
}

.btn-nav {
	cursor: pointer
}

.testimonialsslider {
	padding: 50px 0 60px
}

.testimonial-content {
	margin-top: -12px;
	padding: 20px 0;
	text-align: center
}

.testimonial-content p {
	color: #363636;
	margin-bottom: 0;
	padding: 25px 60px 15px;
	text-align: left;
	min-height: 150px
}

.whoclient {
	margin-top: 30px;
	text-align: center;
	color: #0b38e8;
	font-family: roboto, arial, helvetica;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 30px
}

.carousel-control {
	display: none
}

.carousel-indicators .active {
	background-color: #363636;
	margin: 1px;
	width: 5px;
	height: 5px
}

.carousel-indicators li {
	border: 1px solid #363636;
	height: 5px;
	width: 5px
}

.testimonialimg {
	text-align: center
}

.testimonialimg img {
	border-radius: 50px;
	height: 104px;
	margin-top: 12px;
	width: 104px
}

.testimonial-content {
	margin-bottom: 15px
}

footer {
	background-size: cover;
	background: #001b1b;
	width: 100%
}

.newsletter {
	border-bottom: 1px solid rgba(255, 255, 255, .4);
	border-top: 1px solid rgba(255, 255, 255, .4);
	padding-bottom: 20px;
	padding-top: 20px
}

.copyright {
	color: #fff;
	font-family: roboto, arial, helvetica;
	font-size: 15px;
	line-height: 2;
	text-align: center
}

.logos {
	text-align: center;
	padding-bottom: 20px
}

footer .menu {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
	font-size: 18px
}

footer .menu a {
	color: #fff
}

footer .menu a:hover {
	color: #fff
}

footer .header {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: roboto, arial, helvetica;
	padding-bottom: 20px
}

.footdesc a,
.companyfooter a {
	color: #d8e2f3
}

.footdesc a:hover,
.companyfooter a:hover {
	color: #c5645b
}

.footdesc {
	background: none repeat scroll 0 0 rgba(0, 0, 0, .3);
	color: #d8e2f3;
	padding: 55px 0
}

.footdesc h3 {
	font-family: roboto, arial, helvetica;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px
}

.footdesc ul li {
	list-style-type: none;
	line-height: 1.9
}

.footdesc ul {
	padding-left: 5px
}

#mc-embedded-subscribe-form {
	margin: 0!important;
	padding: 0!important
}

#mc-embedded-subscribe-form input.email {
	float: left;
	width: 240px;
	color: #fff!important;
	background: #222!important;
	border: 1px solid #000;
	border-radius: 2px 0 0 2px
}

#mc_embed_signup {
	margin: 0 auto;
	width: 400px
}

#mc-embedded-subscribe-form input.button {
	background: #17c425 none repeat scroll 0 0;
	border: 0;
	border-radius: 0 2px 2px 0;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	margin-left: 0;
	padding: 10px;
	text-transform: uppercase;
	width: 150px!important
}

#mc-embedded-subscribe-form input.button:hover {
	background: green
}

.newsletter .descr {
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 5px;
	text-align: center
}

#mce-EMAIL {
	color: #37485c;
	font-size: 18px;
	padding-left: 5px;
	height: 38px
}

.footdesc p {
	margin-bottom: 5px
}

.postfooter {
	background: rgba(0, 0, 0, .5)
}

.postfooter p {
	margin: 0;
	color: #d8e2f3;
	line-height: 2
}

.login-container {
	margin: 0 auto;
	max-width: 650px;
	overflow: hidden;
	padding: 170px 0 120px
}

.logo {
	text-align: center;
	padding: 44px 0
}

.users .row {
	padding: 0 20px 40px
}

.users label,
#contactForm label {
	color: #0b38e8;
	font-family: roboto, arial, helvetica;
	font-size: 17px;
	font-weight: 400
}

label.has-error {
	color: tomato
}

.consents input[type=checkbox] {
	font-size: 17px;
	margin-left: 0
}

.consents div.has-error {
	color: red
}

.consents div span {
	margin-left: 20px;
	font-size: 12px;
	text-align: justify
}

#UserRegisterForm,
#ResetResetForm,
#UserLoginForm,
#contactForm,
#SecurityForm {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ebebeb;
	display: block;
	margin-bottom: 60px;
	padding-bottom: 60px
}

#UserRegisterForm .alert,
#ResetResetForm .alert,
#UserLoginForm .alert,
#contactForm .alert,
#SecurityForm .alert {
	margin-top: 10px
}

#UserLoginForm {
	padding-bottom: 20px
}

#UserRegisterForm .btn-green {
	margin-top: 40px
}

#contactForm h3 {
	color: #0b38e8
}

.formul li {
	float: left;
	margin-right: 20px;
	list-style: none;
	font-size: 16px;
	font-family: roboto, arial, helvetica
}

.formul {
	display: inline-block;
	margin-top: 10px
}

.checkbg {
	min-height: 250px;
	background: url(../img/headerbg.jpg) no-repeat scroll center top transparent
}

.checkcloud {
	background-image: url(../img/clouds.png);
	height: 120px;
	margin-top: -120px
}

.checkcontent {}

.checkanticloud {
	background: url(../img/anticloud.jpg) no-repeat scroll center top transparent;
	height: 200px
}

.check h2 {
	font-size: 4em;
	color: #6f7b8b;
	font-family: roboto, arial, helvetica
}

.step1 {
	background: url(../img/clipboard.png) no-repeat;
	line-height: 2.3;
	padding-left: 150px
}

.colvo {
	font-size: 10em;
	font-family: roboto, arial, helvetica;
	color: #5c697a
}

.tele2 {
	background: url(../img/modal_player.png) no-repeat scroll center 0 transparent
}

.televizor .modal-content {
	box-shadow: none;
	border: medium
}

.televizor {
	margin: 0 auto;
	background: rgba(0, 0, 0, .5)
}

.minusz {
	z-index: -1;
	margin-top: 130px
}

.diagonal {
	min-height: 643px
}

.supervideo {
	height: 340px;
	margin-left: 0;
	margin-top: 220px;
	padding: 0;
	width: 609px
}

.minusz img {
	height: 341px;
	width: 606px;
	margin-left: -24px;
	margin-top: 220px
}

ul.dropdown-menu {
	background-color: rgba(0, 0, 0, .3)
}

ul.dropdown-menu a {
	color: #fff
}

.navbar-nav>li>.dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 17px
}

.navbar-right .dropdown-menu {
	left: auto;
	right: auto
}

ul.dropdown-menu a:hover {
	color: #75bef6!important
}

.navbar-fixed-top .navbar-collapse {
	margin-top: 10px
}

.users-login .inner-wrapper,
.users-login .wrapper,
.users-register .inner-wrapper,
.users-register .wrapper,
.users-reset .inner-wrapper,
.users-reset .wrapper,
.contact-us .inner-wrapper,
.contact-us .wrapper,
.users-security .inner-wrapper,
.users-security .wrapper {
	height: auto;
	min-height: 100vh
}

.users-login .inner-wrapper,
.users-register .inner-wrapper,
.users-reset .inner-wrapper,
.contact-us .inner-wrapper,
.users-security .inner-wrapper {
	background-size: cover;
	background: #031076 url(../img/newrocket.jpg) no-repeat top center;
	position: relative
}

#reset,
#login,
#e400,
#e500,
#confirm,
#contact,
#security,
#register {
	padding-top: 100px
}

#ResetResetForm legend,
#SecurityForm legend {
	font-size: 15px;
	padding-bottom: 5px
}

#SecurityForm {
	padding-left: 15px;
	padding-right: 15px
}

#SecurityForm .form-group {
	padding-bottom: 20px
}

.newuser .btn-custom:hover {
	background: #e81497
}

#loginModalLabel {
	font-family: roboto, arial, helvetica
}

.modal-dialog #UserLoginForm {
	border: medium
}

#static .subhead {
	background-size: cover;
	background: #031076 url(../img/newrocket.jpg) no-repeat scroll 50% 10%;
	height: 300px;
	margin-top: -100px
}

.timeline {
	position: relative;
	padding: 0;
	list-style: none
}

.text-muted {
	color: rgba(42, 8, 163, .7)
}

.minusz .close:hover {
	color: #db7093;
	text-shadow: none
}

.minusz .close {
	color: #fff;
	opacity: 1;
	font-size: 30px
}

.modal-tv {
	width: 798px;
	height: 643px;
	background: transparent url(../img/modal_player.png) no-repeat 0 0;
	padding: 220px 108px 0 85px
}

.modal-tv .modal-content {
	border: none
}

.btn.btn-big-blue {
	padding: 25px 40px 20px;
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 40px;
	background: -webkit-linear-gradient(#4aa3fd, #0f72f1);
	background: -o-linear-gradient(#4aa3fd, #0f72f1);
	background: -moz-linear-gradient(#4aa3fd, #0f72f1);
	background: linear-gradient(#4aa3fd, #0f72f1);
	border: none;
	text-shadow: 1px 1px 2px #000
}

.btn.btn-big-blue:hover {
	background: -webkit-linear-gradient(#408dfd, #0f72f1);
	background: -o-linear-gradient(#408dfd, #0f72f1);
	background: -moz-linear-gradient(#408dfd, #0f72f1);
	background: linear-gradient(#408dfd, #0f72f1)
}

#partners,
#how-to-earn {
	margin-top: -100px
}

#partners .header {
	background: transparent url(../img/partners_header.jpg) no-repeat 50% 100%;
	height: 940px
}

#partners .promo {
	position: relative;
	background: transparent url(../img/partners_rocket.png) no-repeat 0 0;
	width: 816px;
	height: 560px;
	margin: 220px auto 0
}

#partners .promo .text {
	margin-left: 180px;
	margin-right: 100px
}

#partners .promo .text p {
	font-family: roboto, Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
	line-height: 37px;
	font-weight: 500
}

#partners .promo .button {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 90px 130px 0;
	width: 600px;
	text-align: center
}

#partners .why .ribbon {
	background: transparent url(../img/ribbon.png) no-repeat 0 0;
	height: 97px;
	font-weight: 800;
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	padding-top: 17px;
	margin-bottom: 100px;
	margin-top: 50px
}

#partners .why h1 {
	font-family: roboto, Helvetica, Arial, sans-serif;
	color: #2e0394;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase
}

#partners .why .logo-separator {
	background: transparent url(../img/logo_separator.png) no-repeat 50% 0;
	height: 70px;
	margin: 100px 0
}

#partners .why .items .item {
	text-align: center;
	margin-bottom: 50px
}

#partners .why .items .item h2 {
	font-family: roboto, Helvetica, Arial, sans-serif;
	color: #2e0394;
	font-size: 28px
}

#partners .why .items .item p {
	font-size: 17px
}

#partners .why .button {
	text-align: center;
	margin: 50px auto 100px
}

#partners .why .footnotes {
	border-top: 1px solid #969696;
	padding: 30px 0
}

#partners .why .footnotes p {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 5px
}

#partners .notes {
	border: 1px solid #bdbec0;
	border-left: none;
	border-right: none;
	background-color: #f4f6fa;
	margin-top: 120px;
	margin-bottom: 380px
}

#partners .notes .info {
	text-align: center;
	margin-top: -130px
}

#partners .notes h1 {
	font-family: roboto, Helvetica, Arial, sans-serif;
	text-align: center;
	color: #2e0394;
	font-size: 50px;
	margin-top: 30px
}

#partners .notes .box {
	padding: 40px 80px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	margin-bottom: 50px
}

#partners .notes .box p {
	margin-bottom: 5px;
	font-size: 17px;
	line-height: 19px
}

#partners .notes .box ul {
	padding-left: 0;
	list-style: none
}

#partners .notes .box ul li {
	font-size: 17px
}

#partners .notes .box ul li:before {
	content: '- '
}

#partners .notes .monitor {
	margin-bottom: -350px;
	text-align: center
}

#how-to-earn {
	background-color: #000;
	color: #d7d7d7;
	font-size: 18px;
	font-family: roboto, Helvetica, Arial, sans-serif
}

#how-to-earn .btn.btn-huge {
	padding: 35px 40px 30px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	text-shadow: 0 0 3px #fff;
	border-radius: 10px
}

#how-to-earn h2 {
	font-family: roboto, Helvetica, Arial, sans-serif
}

#how-to-earn .header {
	background: #030129 url(../img/how-to-earn/header.jpg) no-repeat 50% 0;
	padding-top: 200px
}

#how-to-earn .header .slogan {
	text-align: center;
	color: #fff;
	font-family: roboto, sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-shadow: 2px 4px 0 rgba(0, 0, 0, .75);
	text-transform: uppercase
}

#how-to-earn .header .what {
	margin-top: 650px;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	line-height: 36px;
	padding-bottom: 80px;
	border: 1px solid #fff;
	border-left-width: 0;
	border-right-width: 0
}

#how-to-earn .header .what .h {
	background: transparent url(../img/how-to-earn/h.png) no-repeat 50% 0;
	width: 70px;
	height: 70px;
	margin: -37px auto 50px
}

#how-to-earn .header .items {
	margin-top: 80px;
	text-align: center
}

#how-to-earn .header .items .item {
	margin-bottom: 50px
}

#how-to-earn .header .items .item p {
	margin-top: 25px;
	font-weight: 300;
	line-height: 24px
}

#how-to-earn .calc {
	margin-top: 20px;
	background: transparent url(../img/how-to-earn/calc.jpg) no-repeat 50% 0;
	padding: 35px 0
}

#how-to-earn .calc .container2 {
	width: 970px;
	margin: 0 auto
}

#how-to-earn .calc h2 {
	font-size: 36px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	text-shadow: 2px 4px 0 rgba(0, 0, 0, .75);
	margin-bottom: 85px
}

#how-to-earn .calc .calculator {
	height: 54px;
	background-color: #111;
	border-radius: 30px
}

#how-to-earn .calc .calculator .slider-container {
	padding: 22px 0 0 20px;
	width: 300px
}

#how-to-earn .calc .calculator .slider-container .back-bar {
	height: 10px;
	position: relative
}

#how-to-earn .calc .calculator .slider-container .back-bar .selected-bar {
	position: absolute;
	height: 100%
}

#how-to-earn .calc .calculator .slider-container .back-bar .pointer {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	cursor: pointer;
	opacity: 1;
	z-index: 2
}

#how-to-earn .calc .calculator .slider-container .back-bar .pointer.last-active {
	z-index: 3
}

#how-to-earn .calc .calculator .slider-container .back-bar .pointer-label {
	display: none
}

#how-to-earn .calc .calculator .slider-container .back-bar .focused {
	z-index: 10
}

#how-to-earn .calc .calculator .slider-container .clickable-dummy {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1
}

#how-to-earn .calc .calculator .slider-container .scale {
	top: 2px;
	position: relative
}

#how-to-earn .calc .calculator .slider-container .scale span {
	display: none
}

#how-to-earn .calc .calculator .slider-container .scale ins {
	display: none
}

#how-to-earn .calc .calculator .slider-container.slider-readonly .clickable-dummy,
#how-to-earn .calc .calculator .slider-container.slider-readonly .pointer {
	cursor: auto
}

#how-to-earn .calc .calculator .theme-green .back-bar {
	height: 12px;
	border-radius: 10px;
	background-color: #727272;
	-moz-box-shadow: 0 1px 0 #000, inset 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #000, inset 0 1px 0 #fff;
	box-shadow: 0 1px 0 #000, inset 0 1px 0 #fff
}

#how-to-earn .calc .calculator .theme-green .back-bar .selected-bar {
	border-radius: 10px;
	background: url(../img/how-to-earn/bar.png) repeat-x;
	-moz-box-shadow: inset 0 1px 0 rgba(204, 105, 196, .5);
	-webkit-box-shadow: inset 0 1px 0 rgba(204, 105, 196, .5);
	box-shadow: inset 0 1px 0 rgba(204, 105, 196, .5)
}

#how-to-earn .calc .calculator .theme-green .back-bar .pointer {
	background: url(../img/how-to-earn/point.png) no-repeat 50% 100%;
	width: 150px;
	height: 100px;
	top: -54px;
	font-size: 22px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 4px 0 rgba(0, 0, 0, .75);
	line-height: 18px
}

#how-to-earn .calc .spent {
	margin-top: 85px;
	text-align: center;
	color: #fff
}

#how-to-earn .calc .spent p {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 25px;
	text-shadow: 2px 4px 0 rgba(0, 0, 0, .75)
}

#how-to-earn .calc .spent .sum {
	width: 200px;
	height: 60px;
	line-height: 60px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: #1f1e1e;
	display: inline-block;
	font-size: 30px;
	font-weight: 500;
	text-shadow: 2px 4px 0 rgba(0, 0, 0, .75);
	-moz-box-shadow: inset 5px 9px 24px rgba(0, 0, 0, .57), inset 0 0 2px rgba(255, 255, 190, .75);
	-webkit-box-shadow: inset 5px 9px 24px rgba(0, 0, 0, .57), inset 0 0 2px rgba(255, 255, 190, .75);
	box-shadow: inset 5px 9px 24px rgba(0, 0, 0, .57), inset 0 0 2px rgba(255, 255, 190, .75)
}

#how-to-earn .begin {
	margin-top: 20px;
	background: transparent url(../img/how-to-earn/begin.jpg) no-repeat 50% 0;
	text-align: center;
	padding: 140px 0 230px
}

#how-to-earn .how {
	padding-bottom: 60px;
	border: 1px solid #fff;
	border-left-width: 0;
	border-right-width: 0;
	background-color: #030029
}

#how-to-earn .how .h {
	background: transparent url(../img/how-to-earn/h.png) no-repeat 50% 0;
	width: 70px;
	height: 70px;
	margin: -37px auto 40px
}

#how-to-earn .how h1 {
	text-transform: uppercase;
	color: #fff;
	font-family: roboto, sans-serif;
	font-size: 48px;
	font-weight: 600;
	text-shadow: 2px 4px 0 rgba(0, 0, 0, .75);
	text-align: center;
	margin: 0
}

#how-to-earn .benefits {
	background: #030129 url(../img/how-to-earn/benefits.jpg) no-repeat 50% 0;
	text-align: center
}

#how-to-earn .benefits .items {
	margin-top: 290px
}

#how-to-earn .benefits .items .item p {
	margin-top: 50px;
	line-height: 24px;
	font-weight: 300
}

#how-to-earn .learn-more {
	background: transparent url(../img/how-to-earn/learn-more.jpg) no-repeat 50% 0;
	text-align: center;
	padding: 290px 0 230px
}

@media(max-width:1200px) {
	#partners .why .ribbon {
		background: #4aa3fd;
		height: auto;
		padding: 17px 0
	}
	.navbar-custom .navbar-brand {
		background: transparent url(../img/logomini.png) no-repeat scroll 0 center;
		width: 30px
	}
	.navbar-inverse .navbar-brand {
		background: transparent url(../img/logominiblue.png) no-repeat scroll 0 center;
		width: 30px
	}
}

@media(max-width:1080px) {
	#main {
		clear: both
	}
}

@media(max-width:994px) {
	h1.fronthead {
		font-size: 48px
	}
	.navbar-header {
		float: none
	}
	.navbar-custom {
		background: none repeat scroll 0 0 rgba(0, 0, 0, .9)!important
	}
	.navbar-left,
	.navbar-right {
		float: none!important
	}
	.navbar-toggle {
		display: block
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px
	}
	.navbar-collapse.collapse {
		display: none!important
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px
	}
	.navbar-nav>li {
		float: none
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px
	}
	.collapse.in {
		display: block!important
	}
	.nocollapse {
		padding-right: 15px;
		position: absolute;
		right: 20px;
		top: -9px
	}
	.fa-3x {
		font-size: 2em!important
	}
	.uf {
		padding: 30px;
		width: 90px
	}
	#plans .container {
		width: auto
	}
	.navbar-custom .navbar-brand {
		background: transparent url(../img/logosm.png) no-repeat scroll 0 center;
		width: 201px
	}
	.navbar-inverse .navbar-brand {
		background: transparent url(../img/logosmblack.png) no-repeat scroll 0 center;
		width: 201px
	}
}

#plans .out-of-stock {
	color: #ff6246
}

#plans .limited {
	color: #f7ff00
}

@media(min-width:993px) {
	.navbar {
		padding: 0;
		letter-spacing: 1px;
		background: none repeat scroll 0 0 transparent;
		transition: none 0s ease 0s;
		padding: 10px
	}
	.top-nav-collapse {
		padding: 0;
		background-color: #000
	}
	.navbar-custom.top-nav-collapse {
		border-bottom: 1px solid rgba(255, 255, 255, .3)
	}
}

@media(max-width:990px) {
	#how-to-earn .calc {
		display: none
	}
}

@media(max-width:930px) {
	#partners .header {
		height: auto;
		padding: 150px 0
	}
	#partners .promo {
		background: 0 0;
		width: auto;
		height: auto;
		margin-top: 0
	}
	#partners .promo .text {
		margin: auto;
		text-align: center
	}
	#partners .promo .button {
		position: static;
		width: auto;
		padding: 0
	}
}

@media(max-width:860px) {
	.modal-tv {
		width: auto;
		height: auto;
		padding: 100px 0 0;
		background: 0 0
	}
}

@media(max-width:810px) {
	.monitoring {
		display: none
	}
}

@media(max-width:767px) {
	h1.fronthead {
		font-size: 42px
	}
	p {
		margin: 0 0 35px;
		font-size: 18px;
		line-height: 1.6
	}
	.btn-nb {
		border: 1px solid #fff
	}
	.pricing-table .title {
		border-bottom: medium!important
	}
	.pricing-table .price span {
		border-top: medium!important
	}
	.pricing-table {
		margin: 5px auto;
		max-width: 401px!important
	}
	.navbar-brand {
		margin-left: 10px!important
	}
	.intro .headerbg {
		padding-top: 55px;
		background-size: auto 100%!important;
		background: #031076 url(../img/plain_bg.jpg) no-repeat scroll 50% 0;
		min-height: 650px
	}
	.headerbg.rubg {
		background: #031076 url(../img/bg_ether_lg_ru.jpg) no-repeat scroll 50% 0
	}
	.rocket {
		margin-top: 0
	}
}

@media(max-width:710px) {
	#partners .notes {
		margin-bottom: 0
	}
	#partners .notes .monitor {
		display: none
	}
}

@media(max-width:700px) {
	#how-to-earn .how h1 {
		font-size: 40px
	}
	#how-to-earn .header {
		padding-top: 120px
	}
	.rocket {
		display: none
	}
}

@media(max-width:600px) {
	#how-to-earn .header .slogan {
		font-size: 40px
	}
}

@media(max-width:580px) {
	body {
		font-size: 12px
	}
	.nav-tabs {
		border: medium
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
		border: medium
	}
}

@media(max-width:500px) {
	.btn.btn-big-blue {
		font-size: 28px;
		padding: 20px 30px 15px
	}
}

@media(max-width:480px) {
	#how-to-earn .how h1 {
		font-size: 35px
	}
	#how-to-earn .btn.btn-huge {
		padding: 25px 30px 20px;
		font-size: 25px
	}
}

@media(max-width:468px) {
	.clouds {
		display: none
	}
	.feature {
		min-height: 180px
	}
	.newsletter {
		display: none
	}
	.logos {
		display: none
	}
	.testimonials {
		display: none
	}
	.fronthead {
		font-size: 45px
	}
	.newuser {
		background: #031076 none repeat scroll 0 0
	}
	footer {
		background: #031076
	}
	.features h2,
	.plans h2 {
		font-size: 20px
	}
	.features .col-xs-6 {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		float: none
	}
	#static .subhead {
		display: none
	}
	#static {
		padding-top: 30px
	}
	.scroll-trigger {
		position: absolute;
		top: -100px
	}
}

@media(max-width:450px) {
	#how-to-earn .header .slogan {
		font-size: 35px
	}
}

@media(max-width:410px) {
	#how-to-earn .btn.btn-huge {
		padding: 20px 25px 15px;
		font-size: 20px
	}
}

@media(max-width:390px) {
	.btn.btn-big-blue {
		font-size: 18px;
		padding: 15px 20px 10px
	}
	footer .menu {
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 20px
	}
	footer .header {
		font-size: 16px;
		padding-bottom: 20px;
		margin-top: 30px
	}
	.partners {
		padding-top: 0
	}
	.intro .intro-body {
		padding-top: 50px
	}
	.headerbg {
		background-size: cover;
		background: #031076 url(../img/newrocket.jpg) no-repeat scroll 50% 45%;
		min-height: 450px
	}
	.btn-polybius {
		margin-top: 260px
	}
	.fronthead {
		font-size: 35px
	}
	.features {
		padding-top: 30px
	}
	.features h2,
	.plans h2 {
		padding-bottom: 0
	}
	.plans {
		padding: 40px 0 5px
	}
}

@media(max-width:380px) {
	#partners .notes h1 {
		font-size: 28px
	}
	#partners .notes .box {
		padding: 10px 20px
	}
	#partners .why .button {
		margin: 0 auto 50px
	}
	#partners .why .logo-separator {
		margin: 50px 0
	}
	#partners .why h1 {
		font-size: 28px
	}
	#partners .promo .text p {
		font-size: 28px;
		line-height: 30px
	}
	#partners .why .ribbon {
		font-size: 24px;
		margin-bottom: 50px
	}
}

@media(max-width:330px) {
	#how-to-earn .how h1 {
		font-size: 30px
	}
}

@media(max-width:320px) {
	.fronthead {
		font-size: 25px;
		padding-top: 40px
	}
	.descr {
		display: none
	}
	.btn-polybius {
		margin-top: 70px
	}
	.headerbg {
		background: #031076 url(../img/minirocket.jpg) no-repeat scroll 50% 50%!important;
		min-height: 288px!important
	}
	.intro .intro-body {
		padding-top: 0
	}
	#reset,
	#login,
	#e400,
	#e500,
	#confirm,
	#contact,
	#security,
	#register {
		padding-top: 0
	}
}

.file-box {
	float: left;
	-webkit-transition: .33s -webkit-transform 0s ease-in-out;
	transition: .33s transform 0s ease-in-out
}

.file-box:hover {
	-webkit-transition: .33s -webkit-transform .25s ease-in-out;
	transition: .33s transform .25s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: perspective(1px) scale(1.1);
	-moz-transform: perspective(1px) scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: perspective(1px) scale(1.1);
	outline: 1px solid transparent
}

.file {
	border: 1px solid #e7eaec;
	padding: 0;
	background-color: #fff;
	position: relative;
	margin-bottom: 20px;
	margin-right: 20px
}

.file-manager .hr-line-dashed {
	margin: 15px 0
}

.file .icon,
.file .image {
	height: 100px;
	overflow: hidden
}

.file .icon {
	padding: 5px 10px;
	text-align: center
}

.file .icon img {
	max-height: 100%;
	margin: 0 auto
}

.file-control {
	color: inherit;
	font-size: 11px;
	margin-right: 10px
}

.file-control.active {
	text-decoration: underline
}

.file .icon i {
	font-size: 70px;
	color: #dadada
}

.file .file-name {
	padding: 10px;
	min-height: 85px;
	background-color: #f8f8f8;
	border-top: 1px solid #e7eaec
}

.file-name small {
	color: #676a6c
}

.corner {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: .6em solid transparent;
	border-right: .6em solid #f1f1f1;
	border-bottom: .6em solid #f1f1f1;
	right: 0;
	bottom: 0
}

.flag-corner {
	position: absolute;
	display: inline-block;
	line-height: 0;
	border: .6em solid transparent;
	border-right: .6em solid #f1f1f1;
	border-bottom: .6em solid #f1f1f1;
	right: 0;
	bottom: 0
}

.flag-corner img {
	max-width: 20px;
	margin: -2px 0
}

.block-panel {
	min-height: 150px;
	margin-bottom: 5px
}

.block-panel h3,
.block-panel h2 {
	margin-bottom: 5px
}

.block-panel .loading {
	padding-top: 8%;
	padding-left: 45%
}

.block-panel .tab-content {
	border: 1px #000 solid;
	padding: 5px;
	min-height: 105px
}

.block-panel .tab-content .form-group {
	margin-bottom: 5px
}

.block-panel label {
	padding-left: 0
}

.currency-converter h3 {
	margin-bottom: 5px
}

.currency-rate-changes {
	float: right;
	text-align: right
}

.currency-rate-changes tr th:first-child {
	width: 45px
}

.dark-green {
	color: #399839
}

.dark-red {
	color: #ab0707
}

.profit-calculator .calc-title-big {
	font-size: 66px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: -10px
}

.profit-calculator .calc-title-medium {
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase
}

.profit-calculator .calc-box {
	background: url(../img/calc.png) no-repeat;
	width: 591px
}

.profit-calculator .calc-box p {
	margin: 0
}

.profit-calculator .calc-box .usd,
.profit-calculator .calc-box .hashrate {
	position: relative;
	margin-left: 24px;
	margin-top: 47px
}

.profit-calculator .calc-box .hashrate {
	margin-left: 10px
}

.profit-calculator .calc-box .usd input,
.profit-calculator .calc-box .hashrate input {
	font-size: 44px;
	text-align: center;
	width: 196px;
	padding: 0 10px;
	height: 54px;
	border: 2px solid transparent;
	outline: none;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px
}

.profit-calculator .calc-box .field-title {
	text-align: center;
	color: #fff;
	font-size: 32px
}

.profit-calculator .calc-box .notes {
	text-align: center;
	color: #fff;
	margin-top: 0
}

.profit-calculator .calc-box .form-field.contract {
	width: 214px;
	margin: 15px 0 0 71px;
	display: inline-block
}

.profit-calculator .select-style {
	padding: 0;
	margin: 0;
	margin-top: 15px;
	border: 1px solid #ccc;
	width: 163px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	outline: none;
	background: #fff url(../img/arrowdown3.png) no-repeat 95% 3px
}

.profit-calculator .select-style.period {
	width: 157px
}

.profit-calculator .select-style:hover {
	background-position: 95% -75px
}

.profit-calculator .select-style select {
	padding: 6px 10px;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer
}

.profit-calculator .calc-box select:focus {
	outline: none
}

.profit-calculator .calc-box .profit {
	text-align: center;
	margin-top: 60px
}

.profit-calculator .calc-box .profit .num {
	font-size: 49px;
	font-weight: 700
}

.profit-calculator .calc-box .profit .note {
	font-size: 19px
}

.currency {
	position: relative
}

.icons {
	margin-bottom: 20px
}

.icons a {
	background: transparent url(../img/curr.png) no-repeat 0 0;
	display: inline-block;
	width: 43px;
	height: 43px;
	text-indent: -9999px;
	margin-right: 10px;
	outline: none
}

.profit-calculator .letsgo {
	background: url(../img/money.png) 0 45% no-repeat;
	width: 430px;
	margin: 40px auto 0;
	text-align: center
}

.profit-calculator .letsgo>a {
	background: url(../img/money-button.png);
	width: 297px;
	height: 70px;
	display: inline-block;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 15px;
	font-weight: 600
}

.profit-calculator .letsgo .login {
	color: #6d6e70;
	margin-top: 3px
}

.profit-calculator .letsgo .login a {
	color: #26a9e0;
	text-decoration: none
}

.profit-calculator a.dash.active {
	background-position: -161px -43px
}

.profit-calculator .icons a.btc:hover,
.profit-calculator .icons a.btc.active {
	background-position: 0 -43px
}

.profit-calculator .icons a.ltc {
	background-position: -53px 0
}

.profit-calculator .icons a.ltc:hover,
.profit-calculator .icons a.ltc.active {
	background-position: -53px -43px
}

.profit-calculator .icons a.eth {
	background-position: -107px 0
}

.profit-calculator .icons a.eth:hover,
.profit-calculator .icons a.eth.active {
	background-position: -107px -43px
}

.profit-calculator .icons a.dash {
	background-position: -161px 0
}

.profit-calculator .icons a.dash:hover,
.profit-calculator .icons a.dash.active {
	background-position: -161px -43px
}

.profit-calculator .currency .fade-transition {
	position: absolute;
	left: 0;
	top: 60px
}

.profit-calculator .left .letsgo .login a:hover {
	color: #eea421
}

.profit-calculator .currency {
	width: 370px
}

.profit-calculator .currency .item ul {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box
}

.profit-calculator .currency .item ul li {
	margin-bottom: 3px;
	padding-left: 25px;
	font-size: 19px;
	font-weight: 300
}

.profit-calculator .currency .item.btc ul li {
	background: url(../img/icons.png) no-repeat
}

.profit-calculator .currency .item.btc ul li.icon-contract {
	background-position: 0 -220px
}

.profit-calculator .currency .item.btc ul li.icon-time {
	background-position: 0 -248px
}

.profit-calculator .currency .item.btc ul li.icon-income {
	background-position: 0 -274px
}

.profit-calculator .currency .item.btc ul li.icon-min {
	background-position: 1px -300px
}

.profit-calculator .currency .item.btc .course .course-today {
	background: #f5b35c
}

.profit-calculator .currency .item.ltc ul li {
	background: url(../img/icons.png) no-repeat
}

.profit-calculator .currency .item.ltc ul li.icon-contract {
	background-position: 0 -108px
}

.profit-calculator .currency .item.ltc ul li.icon-time {
	background-position: 0 -136px
}

.profit-calculator .currency .item.ltc ul li.icon-income {
	background-position: 0 -162px
}

.profit-calculator .currency .item.ltc ul li.icon-min {
	background-position: 1px -188px
}

.profit-calculator .item.litecoin .course .course-today {
	background: #92d953
}

.profit-calculator .currency .item.eth ul li {
	background: url(../img/icons.png) no-repeat
}

.profit-calculator .currency .item.eth ul li.icon-contract {
	background-position: 0 2px
}

.profit-calculator .currency .item.eth ul li.icon-time {
	background-position: 0 -26px
}

.profit-calculator .currency .item.eth ul li.icon-income {
	background-position: 0 -52px
}

.profit-calculator .currency .item.eth ul li.icon-min {
	background-position: 1px -78px
}

.profit-calculator .currency .item.eth .course .course-today {
	background: #f174a2
}

.profit-calculator .currency .item.dash ul li {
	background: url(../img/icons.png) no-repeat
}

.profit-calculator .currency .item.dash ul li.icon-contract {
	background-position: 0 -332px
}

.profit-calculator .currency .item.dash ul li.icon-time {
	background-position: 0 -360px
}

.profit-calculator .currency .item.dash ul li.icon-income {
	background-position: 0 -386px
}

.profit-calculator .currency .item.dash ul li.icon-min {
	background-position: 1px -412px
}

.profit-calculator .right .currency .item.dash .course .course-today {
	background: #1c75bc
}

.profit-calculator .currency .item .curr-title {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 7px
}

.profit-calculator .currency .item .post-scriptum {
	color: #58595b;
	margin-top: 15px;
	font-weight: 300
}

.profit-calculator .currency .item .course {
	margin-top: 20px
}

.profit-calculator .item .course .course-title {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 10px
}

.profit-calculator a {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none
}

.profit-calculator .currency .item.ltc .course .course-today {
	background: #92d953
}

.profit-calculator .currency .item.btc .course .course-today {
	background: #f5b35c
}

.profit-calculator .currency .item.eth .course .course-today {
	background: #f174a2
}

.profit-calculator .currency .item.dash .course .course-today {
	background: #1c75bc
}

.profit-calculator .currency .item .course .course-today {
	font-size: 21px;
	font-weight: 300;
	color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #ddd;
	padding: 5px 20px;
	margin: 2px 0 23px;
	float: left
}

.profit-calculator .currency .item .course p {
	margin-top: 10px;
	font-weight: 300;
	color: #58595b;
	clear: both
}

#features2
{
    padding-top: 60px;
    margin-bottom: 60px;
	height: 400px;
	/* background-image: url(img/feature-bg.png); */
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.bx-wrapper
{
	max-width: 100% !important;
	-moz-box-shadow: initial !important;
    -webkit-box-shadow: initial !important;
    box-shadow: initial !important;
    border: initial !important;
    background: transparent !important;
}

.bx-wrapper .bx-controls-direction a
{
    -webkit-transition: initial;
    -moz-transition: initial;
    transition: initial;
}

.bxslider > div 
{
	display: flex;
	flex-flow: column;
    justify-content: center;
    align-items: center;
	text-align: center;
}