/* Russian - Dash */

@font-face {
    font-family: 'signikaregular';
    src: url('../../fonts/signika-regular_cyrillic-webfont.eot');
    src: url('../../fonts/signika-regular_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/signika-regular_cyrillic-webfont.woff') format('woff'),
         url('../../fonts/signika-regular_cyrillic-webfont.ttf') format('truetype'),
         url('../../fonts/signika-regular_cyrillic-webfont.svg#signikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikabold';
    src: url('../../fonts/signika-bold_cyrillic-webfont.eot');
    src: url('../../fonts/signika-bold_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/signika-bold_cyrillic-webfont.woff') format('woff'),
         url('../../fonts/signika-bold_cyrillic-webfont.ttf') format('truetype'),
         url('../../fonts/signika-bold_cyrillic-webfont.svg#signikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikalight';
    src: url('../../fonts/signika-light_cirillic-webfont.eot');
    src: url('../../fonts/signika-light_cirillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/signika-light_cirillic-webfont.woff') format('woff'),
         url('../../fonts/signika-light_cirillic-webfont.ttf') format('truetype'),
         url('../../fonts/signika-light_cirillic-webfont.svg#signikalight') format('svg');
    font-weight: normal;
    font-style: normal;
}



.fsg,
#hero-graph .morris-hover,
#allocate-hashpower .mab input[type="text"]{font-family: 'Signika', 'signikaregular', "Helvetica Neue", Helvetica, Arial, sans-serif!important;}


h1,h2,h3,h4,h5,h6,
#myaccount .btn,
#myaccount .nav-tabs > li > a,#my-transactions .nav-tabs > li > a,
#contact-support .btn {font-family: 'Signika', 'signikalight', "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:600!important;}

#main-container h2{font-family: 'Signika', 'signikalight', "Helvetica Neue", Helvetica, Arial, sans-serif;}

.btn{font-family: 'Signika', 'signikalight', "Helvetica Neue", Helvetica, Arial, sans-serif!important;}

#current-mining .cmc,
#hero-graph tspan,
#algo-selection .hmc,
#uhp-selection .uhp{font-family: 'Signika', 'signikalight', "Helvetica Neue", Helvetica, Arial, sans-serif!important;}


#allocate-hashpower .btn-more{width:160px;}


@media (min-width: 769px) {
    .navbar-nav,
    .navbar-nav-2 {
        font-family: 'Signika', 'signikaregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}




@media (max-width: 1720px){
	/*.save-ma h3{padding-right:300px;}
	.reset-ma h3{padding-left:300px;}*/
}


@media (max-width: 1440px){
/*	.save-ma h3{padding-right:0;}
	.reset-ma h3{padding-left:0;}
	.save-ma .btn{margin:15px 0;float:left;}
	.reset-ma .btn{margin:15px 0;float:right;}*/
}

@media (max-width: 769px) {
    .navbar-nav {
        font-family: 'Signika', 'signikaregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

@media (max-width: 560px){
    #my-orders .trans-usr tbody tr td:nth-child(1),
    #my-orders .trans-usr tbody tr td:nth-child(2),
    #my-orders .trans-usr tbody tr td:nth-child(3),
    #my-orders .trans-usr tbody tr td:nth-child(4),
    #my-completed-orders .trans-usr tbody tr td:nth-child(4){min-height:52px;}
    #my-orders .trans-usr tbody tr td:nth-child(1):before,
    #my-orders .trans-usr tbody tr td:nth-child(2):before,
    #my-orders .trans-usr tbody tr td:nth-child(3):before,
    #my-orders .trans-usr tbody tr td:nth-child(4):before,
    #my-completed-orders .trans-usr tbody tr td:nth-child(4):before{word-break:normal;white-space:normal;}
}

@media (max-width: 480px){
    #pending-payout .trans-usr tbody tr td:nth-child(1){min-height:52px;}
    #pending-payout .trans-usr tbody tr td:nth-child(1):before{word-break:normal;white-space:normal;}
}

@media (max-width: 400px){
    #pending-payout .trans-usr tbody tr td:nth-child(1),
    #my-orders .trans-usr tbody tr td:nth-child(1),
    #my-orders .trans-usr tbody tr td:nth-child(2),
    #my-orders .trans-usr tbody tr td:nth-child(3),
    #my-orders .trans-usr tbody tr td:nth-child(4){min-height:78px;}
    #pending-payout .trans-usr tbody tr td:nth-child(1):before,
    #my-orders .trans-usr tbody tr td:nth-child(1):before,
    #my-orders .trans-usr tbody tr td:nth-child(2):before,
    #my-orders .trans-usr tbody tr td:nth-child(3):before,
    #my-orders .trans-usr tbody tr td:nth-child(4):before{word-break:normal;white-space:normal;}
}